*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(#000a, #000a), url('https://cdn.pixabay.com/photo/2013/08/07/18/52/background-170534_960_720.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  height: 100vh;
}

@media(min-width: 400px){
  body{
    font-size: 14px;
  }
}

@media(min-width: 600px){
  body{
    font-size: 18px;
  }
}

header{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  background-color: #ccc5;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}
.menu li{
  list-style: none;
}

.menu a{
  color: #ffea;
  display: block;
  padding: 10px 20px;
}

a{
  color: teal;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: red;
}

.site-title,
.site-subtitle{
  color: whitesmoke;
  text-align: center;
}

.site-title{
  font-family: 'Quintessential', cursive;
  font-size: 4em;
  font-weight: 400;
}

.site-subtitle{
  font-family: 'Coda', cursive;
  font-style: italic;
  line-height: 2em;
}

.projetos{
  background-color: #ffe4;
  padding: 2em;
  height: 100vh;
}

.projetos  h2{
  font-family: 'Coda', cursive;
  color: #ffe;
  margin: 1.5em 0;
}

.projetos .grid{
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr;
  justify-content: center;
}

@media(min-width: 560px){
  .projetos .grid{
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 9em);
  }
}

@media(min-width: 880px){
  .projetos .grid{
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    height: calc(100vh - 9em);
  }
}

.projetos figure{
  text-align: center;
}

.img-projetos{
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: center;
}
